@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Autograhpy';
    src: url('./Fonts/Autography-DOLnW.otf');
    font-weight: 300;
}

p{
    margin-bottom: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    background-color: transparent  ;
    width: .5vmax;
}
::-webkit-scrollbar-thumb {
    background-color: #FC626A;
}
body{
    overflow-x: hidden ;
    scroll-behavior: smooth;
}
.loading{
    
    position: fixed;
    height: 100vh;
    background: black;
    z-index: 9999;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading img{
    width: 10rem;
    animation: loading 2s ease 0s infinite alternate forwards;
} 
@keyframes loading{
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.5);
        }
}


.LandingPage{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./Images/landingbg.png');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}
.LandingPage main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden !important;
}
.LandingPage main .profile{
    width: 8rem;
    height: 8rem;
    background-image: url('./Images/vijul.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.LandingPage main h2{
    font-family: 'Autograhpy';
    font-size: 2rem;
    margin-bottom: -10px;    
}
.LandingPage main p,.LandingPage main h1{
    text-align: center;
}
.LandingPage .btnsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.LandingPage main a{
    color: white;
}
.LandingPage main .mainbtn,.Portfolio .githubbtn .mainbtn, .videobtn{
    padding: 1vmax 2vmax;
    border-radius: 30px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin-top: 1rem;
}
.LandingPage main .btn1{
    box-shadow: 0 0 1vmax #43C6E2;
    background: linear-gradient(to left, #43C6E2, rgb(133, 227, 248));
    margin-right: 2vmax;  
}
.videobtn{
    width: 20vmax;
    background: linear-gradient(to left, #43C6E2, rgb(133, 227, 248));
    color: white;
    text-decoration: none;

}
.LandingPage main .btn2, .Portfolio .githubbtn .btn2{
    box-shadow: 0 0 1vmax #FC626A;
    background: linear-gradient(to right, #FE7D84, #FC626A);
}
.LandingPage  .socialmedialinks{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LandingPage  .socialmedialinks a{
    color: #6c757d;
    text-decoration: none;
}
.LandingPage  .socialmedialinks a i{
    font-size: 1.6rem;
    margin: 0 0.5rem;

}
.Skills .SkillsHeading .title,.Portfolio .PortfolioHeading .title, .AnimatedVideo .AnimatedVideoHeading .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.Skills .SkillsHeading hr , .Portfolio .PortfolioHeading hr, .AnimatedVideo .AnimatedVideoHeading hr{
    margin-left: 2vmax;
    width: 5vmax;
    height: 0.2vmax;
    background-color: rgb(155, 155, 155);
    border: none;
}
.Skills .dev-box,.Skills .des-box{
    margin-top: 20px;
    background-color: rgb(248, 248, 248);
    border-radius: .5vmax;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-shadow: 0 0 2vmax rgba(230, 230, 248, 0.2);
    padding: 3vmax 2vmax;
}
.Skills .heading{
    margin-top: 40px;
    margin-bottom: -30px;
    margin-left: 20px;
}
.Skills  .dev-box img{
    width: 5vmax;
    margin: 0.2rem;
}
.Skills  .des-box img{
    width: 4vmax;
    margin: 0.5rem !important;
}
.Portfolio .tab {
    overflow: hidden;
    background-color: #ffffff;
}  
.Portfolio .tab button{
    background: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5vmax 1.5vmax;
    transition: 0.3s;
    font-size: small;
    color: black;
}  
.Portfolio .tab button:hover {
    background: rgb(245, 245, 245);
}  
.Portfolio .tab button.active {
     color: white;
     background: linear-gradient(to right, #FE7D84, #FC626A);
}  
.Portfolio .tabcontent {
    display: none;
    padding: 4vmax 0;
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.Portfolio .githubbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Portfolio .githubbtn a{
    color: white
}
.graphicimg img{
    object-fit: fill;
    width: 100%;
    border: 1px solid rgb(240, 240, 240);
   
}
.graphicimg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.graphicimg video{
    width: 100% ;
}

Footer{
    padding: 4vmax;
    text-align: center;
    
}
Footer h2{
    font-family: 'Autograhpy';
    font-size: 3rem;
}
Footer h6{
    line-height: 2rem;
}
Footer .mail {
    color: #AD0B0B;
    text-decoration: none;
}

Footer .instagram {
    color: #6B4606;
    text-decoration: none;
}

Footer .linkedin {
    color: #0C515F;
    text-decoration: none;
}
Footer .call {
    color: #06562E;
    text-decoration: none;
}


